-# %nav.navbar.fixed-bottom.navbar-dark.bg-dark.footer{:style => "max-width:1400px"}
-#   %p.navbar-brand{:href => "#!"} copyright (C) 2019 livevoice all rights reserved.
%nav.navbar.navbar-light.bg-dark.footer{:style => "max-width:1400px"}
  %p.navbar-text.text-white
    copyright (C) 2019 livevoice all rights reserved.
