%nav.navbar.navbar-expand-lg.navbar-light.bg-dark.text-white{:style => "max-width:1440px"}
  %i.fas.fa-bolt.m-3
  %a.navbar-brand.text-white{:href => "/"} LiveVoice
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
  - if user_signed_in?
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "ログアウト","/users/sign_out", method: :delete,class: "nav-link text-white"
      %li.nav-item
        %a.nav-link.text-white{:href => new_review_path} 投稿する
  - else 
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link.text-white{:href => new_user_registration_path }
          新規登録
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link.text-white{:href => new_user_session_path } ログイン
  .search_form
    = search_form_for @search, url: reviews_search_path,method: :get do|f|
      = f.text_field :artist_or_text_or_venue_cont ,placeholder: "検索するテキストを入力...",class:"form-control mr-sm-2 w-150 col-7",style: "width:550px"
      = f.submit "検索する",class:" btn btn-outline-success my-2 my-sm-0"
      
