
.card{:style => "width:300px"}
  -# = image_tag @reviews.image.url, height: "200px" ,width: "300px", alt: 'ライブ画像', class: 'card-img-top'
  .card-body
    %p
      開催日時
      %br/
      = @reviews.event_date.strftime("%Y-%m-%d %H:%M")
    %p.card-text
      アーティスト名
      %br/
      = @reviews.artist
    %p
      会場
      %br/
      = @reviews.venue
    %h3
      〇〇さんのレビュー
      %br/
    %p.card-text
      = @reviews.text
