.side-bar
  %nav.nav.flex-column
  %a.nav-link.active.bg-light{:href => "/"} TOP
  %a.nav-link.bg-light{:href =>reviews_index_path} 投稿一覧
  =link_to "ログアウト","/users/sign_out", method: :delete,class: "nav-link bg-light"
  