- if user_signed_in?
  .side-bar
    %nav.nav.flex-column
    %a.nav-link.active.bg-light{:href => "/"} TOP
    %a.nav-link.bg-light{:href =>reviews_path} 投稿一覧
    %a.nav-link.bg-light{:href =>"/users/#{current_user.id}"} マイページ
- else 
  .side-bar
    %nav.nav.flex-column
    %a.nav-link.active.bg-light{:href => "/"} TOP
    %a.nav-link.bg-light{:href =>reviews_path} 投稿一覧
    
  