.main-contents{:style => "max-width:1300px"}
  %h1
    LiveVoice
  %p
    LiveVoiceは、LIVEの感想をつぶやくサイトです。
  .main-menu
    .main-review
      = link_to "#" do
        %i.fas.fa-microphone-alt
        %p
          登録済みのユーザーなら、自由に投稿出来ます
          %br/
          画像の投稿もできます。
    .main-search
      = link_to "#" do
        %i.fas.fa-music
        %p
          アーティスト名、投稿内容から
          %br/
          キーワードを探します。


      

